:root {
    --blue: #92c5de;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
padding: 15px 35px;
background-color: #61646FFF;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 99;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--blue);
    margin: 10;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--blue);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    background-image: url("../images/fence.jpeg");
    background-size: 500px;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

  .hero h2 {
      color: var(--blue);
      font-size: 60px;
      width: 90%;
      text-align: right;
      margin: 3.5%;
      line-height: .90;
}

  .flex-row {
    display: flex;
}

.me, .contact {
    width:100%;
    text-align: left;
    margin: 2.5%;
    font-size: 18px;
    line-height: 1.5;
    display: flex;
    flex-wrap: flex;
}

.me h2, .contact h2 {
    width: 80%;
    font-style: italic;
    font-size: 30px;
    color: var(--blue);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 60px;
    border-right-style: solid;
    border-right-width: thick;
    border-right-color: var(--blue);
}

.subclass {
    padding: 80px;
    color: var(--blue);
    width: 80%;
    margin: 0%;
    border-radius: 15px;
    display: flex;
    text-align: left;
}

.contact h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--blue);
    margin: 6%;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact a {
    text-decoration: none;
    color: var(--blue);
    text-decoration-line: underline;
}

.contact nav {
    margin: 7px 0;
    display: flex;

}

.contact nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact nav ul li a {
    padding: 10px 90px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.Run-Buddy {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.container {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 30px;
    left: 0px;
    background-color: black;
    color: var(--blue);
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
    border-radius: 8px;
    border: 3px #C18D21 solid;
}

.flex-2-text-block {
    position: absolute;
    bottom: 40px;
    left: 20px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 35px;
}

.flex-2 {
    display: flex;
    flex: 200px;
    justify-content: center;
    gap: 2%;
}

.flex-3 {
    display: flex;
    flex: 200px;
    padding: 20px;
    justify-content: center;
    gap: 2%;
}

.run-img {
Height: 95%;
width: 82%;
justify-content: right;
border-radius: 8px;
border: 3px #C18D21 solid;
opacity: 85%;

}

.run-img:hover {
    opacity: 100%;
}
.img {
    border-radius: 8px;
    border: 3px #C18D21 solid;
    opacity: 85%;
}
.img:hover {
    opacity: 100%;
}

.examples {
    display: flex;

}

.examples h2 {
    font-weight: bold;
    font-size: 36px;
    color: var(--blue);
    margin: 2%;
    padding: 60px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-right-style: solid;
    border-right-width: thick;
    border-right-color: var(--blue);
}