:root {
    --blue: #92c5de;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
padding: 15px 35px;
background-color: #61646FFF;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
position: -webkit-sticky;
position: sticky;
top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--blue);
    margin: 10;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--blue);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero {
    background-image: url("../images/fence.jpeg");
    background-size: 500px;
    background-position: center;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
  }

  .hero h2 {
      color: var(--blue);
      font-size: 60px;
      width: 90%;
      text-align: right;
      margin: 3.5%;
      line-height: .90;
  }

  .flex-row {
    display: flex;
}